---
- include: yum.yml
- include: firewall.yml

- name: Start the swarm manager
  when:
    - inventory_hostname in groups['swarm_managers']
  docker_container:
    name: swarm_manager
    image: swarm
    state: started
    recreate: yes
    restart: yes
    force_kill: yes
    restart_policy: always
    exposed_ports: 
      - 4000
    published_ports:
      - "4000:4000"
    command: >
      manage -H :4000 --replication
      --advertise {{ iputils_ip_external }}:4000
      etcd://{{ iputils_ip_etcd_bootstrap }}:4001/docker
    labels: 
      SYSTEM_CONTAINER: "true"

- name: Start the swarm nodes
  when:
    - inventory_hostname in groups['swarm_agents']
  docker_container:
    name: swarm_node
    image: swarm
    state: started
    recreate: yes
    restart: yes
    force_kill: yes
    restart_policy: always
    command: >
      join --advertise={{ iputils_ip_external }}:2375
      etcd://{{ iputils_ip_etcd_bootstrap }}:4001/docker
    labels: 
      SYSTEM_CONTAINER: "true"
